//to create first template, directory called views, views is the
//default directory that Express uses for your tempaltes

//atom already knows how to parse html files

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>Some text here</p>

    {{> footer}}
  </body>
</html>
